/* Page Styles
================================*/
h1, h2, h3, h4, h5, h6, a {
  font-family: 'Overpass', sans-serif;
}

h2 {
  color: #5da9b6;
}

h4 {
  line-height: 1.6em;
  margin-top: 0px;
}

p {
  font-family: 'Roboto', sans-serif;
  color: #333;
  line-height: 1.5em;
  font-size: 1.2em;
}

body {
  padding-top: 50px;
}

a:visited {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  padding-left: 20px;
  padding-right: 20px;
}

.centerText {
  text-align: center;
}

.cushion {
  padding-bottom: 20px;
}



/* Header
================================*/

.navbar {
  background-color: #fff;
}

.nav-tabs {
  border-bottom: 0px;
}

.transparent {
  background: rgba(0,0,0,0.3);
  height: 350px;
  width: 100%;
}

.cbc {
  padding-top: 25px;
  padding-left: 5px;
  margin: 0 auto;
  color: white;
  font-size: 2em;
  line-height: 1.1em;
  letter-spacing: -0.03em;
  font-weight: bold;
  font-style: italic;
}

.img-full {
  background-image: url(../img/drawing-cork.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100% \9;
  height: 350px;
  margin: 0 auto;
}


/* Images & Icons
================================*/

.imgMenu {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.imgMenu img {
  width: 70%;
  height: auto;
  margin: 25px  auto;
}

.imgMenu img:hover {
  cursor: pointer;
}

i {
  margin-left: 5px;
}

/* Layout
================================*/

.welcome {
  max-width: 850px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 30px;
  line-height: 1.3em;
  color: #a5bea5;
}

.mission p {
  font-size: 1.2em;
  line-height: 1.7em;
}

#map {
  height: 180px;
  width: 180px;
  margin: 10px;
}



/* Footer
================================*/

.footer {
  background-color: #a5bea5;
  color: #fff;
  height: 530px;
  padding: 10px 20px 0;
}
.footer p {
  color: inherit;
}
.footer a {
  color: inherit;
}
.footer li {
  text-align: center;
}

.copyright {
	opacity: .8;
	font-size: .9em;
  margin-top: 15px;
}

.link-list {
	list-style-type: none;
	line-height: 1.8;
	margin: 0;
	padding: 0;
}
.link-list .heading {
	font-weight: bold;
	margin-bottom: 8px;
}

#heart,
#link,
#mail {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 3px;
}


/* Media Queries
================================*/

@media (min-width: 500px) {
  .imgMenu img {
    width: 40%;
    display: inline-block;
    margin: 10px 20px;
  }
}

@media (min-width: 768px) {

  .img-full, .transparent {
    height: 450px;
    padding: 0;
  }
  .cbc {
    font-size: 3em;
    padding-left: 80px;
    padding-top: 120px;
    letter-spacing: -0.05em;
  }
  .imgMenu img {
    width: 25%;
    display: inline-block;
    margin: 25px;
  }
  .footer {
    height: 270px;
  }
  .copyright {
    margin-top: 40px;
  }
	.link-list {
		margin-top: 32px;
	}
}
